$default-font: "Lato", sans-serif;
$accent-color: rgb(225, 170, 110);
$text-light: rgb(255, 255, 255);
$text-dark: rgb(119, 119, 119);
$blue-color: rgb(0, 181, 210);
$accent-color-blue: rgb(0, 181, 210);
$base-font: 16px;
