@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");
@import "./style/_vars.scss";

html {
  font-family: $default-font;
  font-size: $base-font;
  color: $text-light;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  &.img-width {
    width: 100%;
  }
}

nav {
  width: 100%;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  height: 44px;
  position: fixed;
  //padding: 0 1rem;
  z-index: 3;
}

.section__content {
  // display: -ms-flexbox;
  // display: flex;
  // -ms-flex-pack: center;
  // justify-content: center;
  width: 100%;
  max-width: 1140px;
  position: relative;
  // display: flex;
  // -ms-flex-direction: column;
  // flex-direction: column;
  // -ms-flex-align: center;
  // align-items: center;
}
